$black-color: #111111;
$navBtn-color: #1e1e1e;
$white-color: white;
$aside-color: #aaaa90;
$backSide-color:  #eeeee9;
$deleteBtn-color: #aaa;
$deleteBtnHov-color: #777;
$addItemBtn-color: #828271;
$foter-color: #ffffff;
$foterBackdround-color: #333333;
$warning-color: red;


// header
.wraperLogo{
	height: 115px;
	.logo{
		height: 38px;
		width: 60px;
		margin:20px 33px;
	}
}

.navigation {
	height: 115px;
	  ul>li{
		display: inline-block;
		font-size: 15px;
		margin-left: 40px;
		line-height: 80px;
			a{
				color: $navBtn-color;
				&:hover{
					text-decoration: none;
					color: $black-color;
					text-shadow: 1px 1px 1px $black-color;
				}
			}
	
		}
}


// App component
main{
	margin-top: 33px;
}
.mainDoc{
	min-height: 451px
}
//main section component
.leftSideItem{
	max-width: 460px;
	position: relative;
	min-height: 260px;
	p:nth-child(1){
		display: block;
		float: left;
		transform: rotate(-90deg);
		font-size: 30px;
		width: 30px;
		text-align: center;
		margin-top: 5px;
		margin-left: 4px;
		font-weight: bold
	}
}
.rightSideItem{
	position: relative;
	min-height: 260px;
	border-bottom: 1px solid $backSide-color;
	.title{
		font-weight: bold;
		font-size: 20px;
		display: block;
		max-height: 26px;
		overflow: hidden;
	}
	.elBody{
		margin-top: 15px;
		font-weight: bold;
		max-height: 115px;
		overflow: hidden;
	}
	.delete{
	display: inline-block;
	font-size: 30px;
	position: absolute;
	bottom: 15px;
	right: 5px;
	color: $deleteBtn-color;
	&:hover{
		color: $deleteBtnHov-color;
		cursor: pointer;
		}
	}
}
.paginationBlock{
	margin-top: 60px;
}

// aside
.goodsInfo{
	position: fixed;
	top: 200px;
	right: 50px
}

//parts for writing elements
.additem{
	.additemInputs{
		display: flex;
		input:nth-of-type(1){
		text-indent: 5px;
		flex-grow: 6;
		height: 40px;
		}
		input:nth-of-type(2){
			text-indent: 5px;
			margin-left: 30px;
			flex-grow: 1;
			width: 30%;
			height: 40px;
		}
	}	
	textarea{
		margin-top: 15px;
		width: 100%;
		height: 185px;
		resize: none;
	}
	.additemBtn{
		margin: 13px;
		text-align: center;
		button{
		background: $aside-color;
		color: $white-color;
		font-weight: bold;
		height: 45px;
		width: 390px;
		font-size: 16px;
		text-align: center;
		&:hover{
			background: $addItemBtn-color;
		  }
	   }
	}
	
}


// foter
footer{
	background: $foterBackdround-color;
	color: $foter-color;
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	margin-top: 75px;
}
//additional parts
.inputForEnter{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 20px;
}
.btnForEnter{
	text-align: center
}
.clueForEnter{
	width: 100%;
	height: 50px;
	color: $warning-color;
	text-align: center;
	font-size: 20px;
}
.deniedEl{
	font-size: 25px;
	text-align: center
}

// media part
@media (max-width: 996px) {
  .goodsInfo{
	position: static;
}
  .navigation {
	  ul>li{
		font-size: 13px;
		margin-left: 30px;
       }
   }
}
@media (max-width: 767px) {
	.wraperLogo{
		text-align: center;
	}
}
@media (max-width: 680px) {
	 .navigation {
		 text-align: center;
		 margin-top: -40px;
	     height: 260px;
	  ul{
		  padding: 0px;
		  li{
			line-height: 15px;
			font-size: 17px;
			margin: auto;
			display: block;
			width: 100px;
			margin-top: 25px;
		}
	  }
   }
}